# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:


# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pycharm files 
.idea/

# pyenv python configuration file
.python-version

# logging folder
logs/

# python virtualenv
venv/
venv_hads/
venv_novo/
venv_gcp/
venv_idea/

# dataset folder
data_torch/
data/
data_homogeneous/
data_less_heterogeneous/
data_old/
data_old_old/

# output files
*.txt

# app files
*.h5
*.npz
*.pik

# folders of TIL app
results/

# screen log files
screen*


#PyCharm WSL folder
%SystemDrive%/

# temp pre_sched files
control/pre_scheduling/*.json
